<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AI Competition Platform.md</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/read_article.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/create_articles.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/c346c28ff4.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <style media="screen">
      ul {
        list-style: disc;
      }
      li {
        float: none;
      }
    </style>
  </head>
  <body id="preview" style="overflow: hidden">
    <h1><a id="XXX_Research_Community"></a>AI competition platform</h1>
    <h2>By XXXX</h2>
    <p>
      Is not only a
      <strong>machine learning competitions platform</strong> but also a
      <strong>Social Network</strong> dedicated to clinicians and researchers in
      the field of Paediatrics and Neonatology. This competition platform is
      been made by
      <a href="https://www.XXXcentre.ie/">XXX Research Centre</a> in the
      boader <em>Open Science</em> objective.
    </p>
    <h1>
      <a id="Frequently_Asked_Questions_FAQs"></a>Frequently Asked Questions
      (FAQs)
    </h1>
    <ul>
      <li>
        <a href="javascript: scroll_page('How_do_I_write_an_Article')"
          >How do I write an Article</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('How_do_I_comment_an_article')"
          >How do I comment an article</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('What_is_an_Article')"
          >What is an Article</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('What_is_a_Machine_Learning_ML_Competition')"
          >What is a Machine Learning (ML) Competition</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('What's_the_difference_between_an_Article_and_a_Competition')"
          >What’s the difference between an Article and a Competition</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_write_a_Machine_Learning_ML_Competition')"
          >How do I write a Machine Learning (ML) Competition</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Why_do_I_need_to_give_a_weight_to_an_evaluation_measure')"
          >Why do I need to give a weight to an evaluation measure</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('How_do_I_join_a_Competition')"
          >How do I join a Competition</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Where_are_my_personal_data_stored_and_who_can_access_them')"
          >Where are my personal data stored and who can access them</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Where_are_my_competition_data_stored_and_who_can_access_them')"
          >Where are my competition data stored and who can access them</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Where_are_my_article_resources_stored_and_who_can_access_them')"
          >Where are my article resources stored and who can access them</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('How_do_I_cancel_my_account')"
          >How do I cancel my account</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_can_I_cancel_my_contents_shared_in_the_community')"
          >How can I cancel my contents shared in the community</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Can_I_publish_contents_of_other_people__organisations')"
          >Can I publish contents of other people / organisations</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_report_an_offensive_content')"
          >How do I report an offensive content</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_report_a_fake_article__competition')"
          >How do I report a fake article / competition</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('I_won_a_competition_but_I_didn't_receive_any_communication_by_the_author')"
          >I won a competition but I didn’t receive any communication by the
          author</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_contact_my_competition_partecipants')"
          >How do I contact my competition partecipants</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('My_Account_has_been_banned')"
          >My Account has been banned</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('My_Account_has_been_deleted')"
          >My Account has been deleted</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('My_content_has_been_removed')"
          >My content has been removed</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('My_content_has_been_edited')"
          >My content has been edited</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('I_forgot_my_email__password')"
          >I forgot my email / password</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_change_my_registration_email')"
          >How do I change my registration email</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('I_mispelled_or_changed_my_name,_how_can_I_update_my_profile')"
          >I mispelled or changed my name, how can I update my profile</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('I_don't_want_to_show_my_Name_andor_Surname')"
          >I don’t want to show my Name and/or Surname</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('I_want_to_remove_my_public_email_andor_phone_number')"
          >I want to remove my public email and/or phone number</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('I_want_to_write_an_Article_or_Competition_for_my_Organisation')"
          >I want to write an Article or Competition for my Organisation</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('Can_I_register_an_Organisation_account')"
          >Can I register an Organisation account</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('How_do_I_update_my_profile')"
          >How do I update my profile</a
        >
      </li>
      <li>
        <a
          href="javascript: scroll_page('How_do_I_vote_an_Article_or_a_comment')"
          >How do I vote an Article or a comment</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('What_happen_if_I_win_a_Competition')"
          >What happen if I win a Competition</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('How_is_reputation_calculated')"
          >How is reputation calculated</a
        >
      </li>
      <li>
        <a href="javascript: scroll_page('what_is_a_badge')">what is a badge</a>
      </li>
    </ul>
    <h3 id="How_do_I_write_an_Article">How do I write an Article</h3>
    <ol>
      <li>From the top navigation bar, login into your Account</li>
    </ol>
    <p><img src="static/imgs/about_imgs/signin.png" alt="" /></p>
    <ol start="2">
      <li>
        click on the “+” icon on the right of the search-bar in the Dashboard
      </li>
    </ol>
    <p><img src="static/imgs/about_imgs/plus.png" alt="" /></p>
    <p>
      <strong
        >Please be sure you have the rights of publishing your data, article and
        resources</strong
      >
    </p>
    <h3 id="How_do_I_comment_an_article">How do I comment an article</h3>
    <p>
      To comment an article, scroll down to the end of the comments feed, then
      <strong>click or double-click</strong> on the button labelled: “Write
      Comment”:
    </p>
    <p><img src="static/imgs/about_imgs/writecomment.png" alt="" /></p>
    <h3 id="What_is_an_Article">What is an Article</h3>
    <p>
      In the scope of this web community, an article is meant to share a
      research effort or an experience related to Neonatology and/or
      Paediatrics. This is not a Peer Reviewed Journal although you are free to
      share your pubblication with the community and receive a feedback.
    </p>
    <h3 id="What_is_a_Machine_Learning_ML_Competition">
      What is a Machine Learning (ML) Competition
    </h3>
    <p>
      A ML competition is a open challange to data scientists to develop a ML
      model or Statistical model to predict a given class feature. E.g. A
      research centre have collected a vast amount of data regarding a clinical
      condition but has no-one able to analyse those data and develop an
      alghoritm able to predict the new patients outcomes or is just interested
      in getting a feedback from other data scientists and/or statisticians.
    </p>
    <h3 id="Whats_the_difference_between_an_Article_and_a_Competition">
      What’s the difference between an Article and a Competition
    </h3>
    <p>
      An article is to share a share a research effort or an experience related
      to Neonatology and/or Paediatrics while a Competition require sharing some
      data and having some knowledge about Machine Learning and / or statistics
      to understand the results.
    </p>
    <h3 id="How_do_I_write_a_Machine_Learning_ML_Competition">
      How do I write a Machine Learning (ML) Competition
    </h3>
    <ol>
      <li>
        first, check out the article named:
        <b><i>How do I write an Article</i></b> from the <i>Dashboard</i>
      </li>
      <li>
        In the article editing page, at the bottom, click on
        <strong>Make Competition</strong>
      </li>
    </ol>
    <p><img src="static/imgs/about_imgs/makecomp.png" alt="" /></p>
    <p>
      BEWARE: there is no identity check in the community. Competition owners
      are advised to require a form of identification before assigning prizes in
      money or other benefits to the users. Competition prizes, especially money
      ones, may be subject to different laws and regulation from different
      countries. Also further regulation should be explicitly provided to the
      participants by the competition owner.
    </p>
    <p>
      <strong
        >Please be sure you have the rights of publishing your data, article and
        resources</strong
      >
    </p>
    <h3 id="Why_do_I_need_to_give_a_weight_to_an_evaluation_measure">
      Why do I need to give a weight to an evaluation measure
    </h3>
    <p>
      The evaluation measure weight is used by our automated leaderboard
      alghoritm to give assign an overall score to each submission and populate
      a more accurate leaderboard. Is not really important what value you assign
      to a single evaluation measure but the difference of weight between
      different evaluation measure: If a competition has a single evaluation
      measure, that evaluation measure will be used as the sole measure to
      calculate each submission score regardless of the weight given. On the
      other hand, if multiple evaluation measure have been selected with
      different weight, the results obtained by a submission will be multiplied
      by the weight of the correspondent evaluation measure to calculate the
      overall score:
    </p>
    <pre><code class="has-line-data" data-line-start="80" data-line-end="114" class="language-python"><span class="hljs-comment"># Recall valued more:</span>
<span class="hljs-comment"># (increase value of false positives)</span>

weighted_scores = {
  <span class="hljs-string">'Accuracy'</span> : <span class="hljs-number">2</span>,
  <span class="hljs-string">'Precision'</span>: <span class="hljs-number">4</span>,
  <span class="hljs-string">'Recall'</span> : <span class="hljs-number">8</span>
}

submission_results = {
  <span class="hljs-string">'Accuracy'</span> : <span class="hljs-number">0.7</span>,
  <span class="hljs-string">'Precision'</span>: <span class="hljs-number">0.6</span>,
  <span class="hljs-string">'Recall'</span> : <span class="hljs-number">0.2</span>
}

overall_score = (<span class="hljs-number">0.7</span> * <span class="hljs-number">2</span>) + (<span class="hljs-number">0.6</span> * <span class="hljs-number">4</span>) + (<span class="hljs-number">0.2</span> * <span class="hljs-number">8</span>) = <span class="hljs-number">5.4</span>

<span class="hljs-comment"># Precision valued more:</span>
<span class="hljs-comment"># (increase value of true positives)</span>

weighted_scores = {
  <span class="hljs-string">'Accuracy'</span> : <span class="hljs-number">2</span>,
  <span class="hljs-string">'Precision'</span>: <span class="hljs-number">8</span>,
  <span class="hljs-string">'Recall'</span> : <span class="hljs-number">4</span>
}

submission_results = {
  <span class="hljs-string">'Accuracy'</span> : <span class="hljs-number">0.7</span>,
  <span class="hljs-string">'Precision'</span>: <span class="hljs-number">0.6</span>,
  <span class="hljs-string">'Recall'</span> : <span class="hljs-number">0.2</span>
}

overall_score = (<span class="hljs-number">0.7</span> * <span class="hljs-number">2</span>) + (<span class="hljs-number">0.6</span> * <span class="hljs-number">8</span>) + (<span class="hljs-number">0.2</span> * <span class="hljs-number">4</span>) = <span class="hljs-number">7</span>
</code></pre>
    <h3 id="How_do_I_join_a_Competition">How do I join a Competition</h3>
    <ol>
      <li>click on a competition to open it</li>
      <li>
        scroll down and click on the <strong>Join Competition</strong> button
      </li>
    </ol>
    <p>
      A popup window will inform you that you have joined the competition. You
      should now download the available files from the table above the
      <strong>Join Competition</strong> button and make your own model. When
      ready, you can submit your results by clicking on the
      <strong>Submit your Results</strong> button.
    </p>
    <p>
      Your results should be in the format of a
      <strong>.csv</strong> spreadsheet. The csv file doesn’t necessarily have
      to contain all the features of the dataset you’ve downloaded as
      <strong>validation_set.csv</strong> or features you created or modified
      but <strong>you must label your results as “class”</strong> :
    </p>
    <p><img src="static/imgs/about_imgs/example1.png" alt="" /></p>
    <p>
      NB: In the example above, your submission is the
      <strong>predicted_class.csv</strong> file.
    </p>
    <p>
      You must also upload a link to your code / notebook or repository online
      (e.g. github repository or google drive / dropbox archive).
    </p>
    <h3 id="Where_are_my_personal_data_stored_and_who_can_access_them">
      Where are my personal data stored and who can access them
    </h3>
    <p>
      All your personal data are stored in a
      <a href="https://firebase.google.com/">Firebase</a>, Firestore Database
      located in London, UK and
      <a href="https://gdpr-info.eu/">GDPR</a> Compliant. Please review our
      <a href="">Privacy Policy</a> for more information.
    </p>
    <p>The following information of your profile are publicly displayed:</p>
    <ul>
      <li>your Name and Surname</li>
      <li>your public email address and phone number</li>
      <li>your qualifications and your motto</li>
      <li>your badge and reputation</li>
      <li>your articles / competitions written and saved</li>
      <li>
        your competitions joined and the results of your submissions (the actual
        submissions is however available only to admin and the competition
        owner).
      </li>
    </ul>
    <h3 id="Where_are_my_competition_data_stored_and_who_can_access_them">
      Where are my competition data stored and who can access them
    </h3>
    <p>
      In addition to the <strong>Firebase Firestore</strong> Database metioned
      in the question above, your competitions files (not the submissions) can
      also be stored securely on our server situated in University College Cork
      - UCC, Ireland and <a href="https://gdpr-info.eu/">GDPR</a> Compliant.
      Please review our <a href="">Privacy Policy</a> for more information. They
      can be accessed by the Server and the Platform administrators and
      partially by anyone on the platform except for the
      <strong>validation dataset true labels</strong> which are hidden to the
      public.
    </p>
    <h3 id="Where_are_my_article_resources_stored_and_who_can_access_them">
      Where are my article resources stored and who can access them
    </h3>
    <p>
      Your articles resources are stored in a
      <a href="https://firebase.google.com/">Firebase</a>, Firestore Database
      located in London, UK and
      <a href="https://gdpr-info.eu/">GDPR</a> Compliant. Please review our
      <a href="">Privacy Policy</a> for more information. All your articles
      resources can be accessed by anyone on the Platform.
    </p>
    <h3 id="How_do_I_cancel_my_account">How do I cancel my account</h3>
    <p>
      You can cancel your account by sending a request via email at
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >. Your account will be cancelled immediately after you receive a
      confirmation email (it may take some days) and you’ll have other 15 days
      from the confirmation email, to restore your account. After this date, all
      your personal data, your articles, competitions and comments will be
      erased by our servers and we won’t be able to retreive them anymore.
    </p>
    <p>
      <strong
        >If you think your account has been deleted without your permission,
        please, contact us immediately at:</strong
      >
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="How_can_I_cancel_my_contents_shared_in_the_community">
      How can I cancel my contents shared in the community
    </h3>
    <p>
      You can delete your own comments, articles or competitions by clicking on
      the delete button that you’ll find in your contents:
      <img src="static/imgs/about_imgs/delete_btn.png" alt="" />
    </p>
    <p>
      You cannot delete a competition that has already a submission. To do so,
      you have to close the competition first, assess the leaderboard, contact
      the winner(s) and then request the competition to be closed by an admin
      at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
      . Our staff reserve the right to assess each case and contact your
      competition partecipants to gain more info. If you have broke the
      conditions you agreed upon when you made the competition, you could be
      banned permanently from the community.
    </p>
    <h3 id="Can_I_publish_contents_of_other_people__organisations">
      Can I publish contents of other people / organisations
    </h3>
    <p>
      NO. You can’t unless unless you have the rights to do so or you are
      authorized by the owner of the content rights. Please notice that you have
      full legal responsibility of what you publish and the admin reserve the
      rights of removing any content that does not conform to the law, the good
      costume and the scope of this community. Also the admin could permanently
      ban users who does not conform to the above mentioned rules.
    </p>
    <h3 id="How_do_I_report_an_offensive_content">
      How do I report an offensive content
    </h3>
    <p>
      You may do so by email at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="How_do_I_report_a_fake_article__competition">
      How do I report a fake article / competition
    </h3>
    <p>
      You may do so by email at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3
      id="I_won_a_competition_but_I_didnt_receive_any_communication_by_the_author"
    >
      I won a competition but I didn’t receive any communication by the author
    </h3>
    <p>
      Please allow at least 7 working days from the competition closure date and
      contact the competition owner at his/her public email address (if any)
      before seeking assistance at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >. We will investigate the case and let you know of the results.
    </p>
    <h3 id="How_do_I_contact_my_competition_partecipants">
      How do I contact my competition partecipants
    </h3>
    <p>
      You may do so by email contacting them at their individual email addresses
      (you’ll find them in their profile pages) or you can contact them all by
      adding a comment to your competition or editing your competition article.
      If you require further assistance, you may contact us at
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="My_Account_has_been_banned">My Account has been banned</h3>
    <p>
      Your account has been banned due to a violation of our terms. If you think
      that there has been an error, please contact support at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="My_Account_has_been_deleted">My Account has been deleted</h3>
    <p>
      If you think your account has been deleted without your permission,
      please, contact us immediately at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="My_content_has_been_removed">My content has been removed</h3>
    <p>
      Your content has been removed due to a violation of our terms. If you
      think that there has been an error, please contact support at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="My_content_has_been_edited">My content has been edited</h3>
    <p>
      Admin and Moderator may sometimes edit a content to make it conform to our
      terms or to improve aesthetic.
    </p>
    <h3 id="I_forgot_my_email__password">I forgot my email / password</h3>
    <p>
      You can recover your password by typing your email address and clicking on
      <em>forgot password</em> in the signin form. We can’t however recover your
      registration email address at the moment.
    </p>
    <h3 id="How_do_I_change_my_registration_email">
      How do I change my registration email
    </h3>
    <p>You can’t at the moment.</p>
    <h3 id="I_mispelled_or_changed_my_name_how_can_I_update_my_profile">
      I mispelled or changed my name, how can I update my profile
    </h3>
    <p>
      You may send us an email with the correct name from your registration
      email address at:
      <a href="mailto:airesearch.platform@gmail.com"
        >airesearch.platform@gmail.com</a
      >
    </p>
    <h3 id="I_dont_want_to_show_my_Name_andor_Surname">
      I don’t want to show my Name and/or Surname
    </h3>
    <p>
      In order to keep our community more secure, you are required to provide a
      Name and Surname. However there is no identity check in the community.
      Competition owners are advised to require a form of identification before
      assigning prizes in money or other benefits to the users.
    </p>
    <h3 id="I_want_to_remove_my_public_email_andor_phone_number">
      I want to remove my public email and/or phone number
    </h3>
    <p>You may do so by updating your profile and typing the following:</p>
    <pre><code >public email address:   __.__
phone:                  --------
</code></pre>
    <h3 id="I_want_to_write_an_Article_or_Competition_for_my_Organisation">
      >I want to write an Article or Competition for my Organisation
    </h3>
    <p>
      You may do so if you have the authorization from your Company or
      Organisation. You will figure as the author of the Article or Competition
      but you can describe the same as an Organisational effort in the
      description.
    </p>
    <h3 id="Can_I_register_an_Organisation_account">
      Can I register an Organisation account
    </h3>
    <p>NO. you can’t.</p>
    <h3 id="How_do_I_update_my_profile">How do I update my profile</h3>
    <ol>
      <li>login into your account.</li>
      <li>
        click on your profile picture in the right upper corner in the
        top-navigation bar.
      </li>
      <li>click on update profile in the right corner of your profile page.</li>
      <li>
        compile only the fields you want to update, leave blank the others
      </li>
      <li>click on save changes.</li>
    </ol>
    <h3 id="How_do_I_vote_an_Article_or_a_comment">
      How do I vote an Article or a comment
    </h3>
    <p>
      You have to click on one of the 2 little triangle on the right of the
      comment or the footer of an article. You may vote a content only once but
      you can cancel your vote by clicking on the opposite arrow once or change
      your vote clicking on the opposite arrow twice.
    </p>
    <h3 id="What_happen_if_I_win_a_Competition">
      What happen if I win a Competition
    </h3>
    <p>
      If there is a prize promised by the competition owner, you should be
      contacted soon by him/her. Check if there are edits to the competition or
      comments by the owner regarding the assignment of prize(es). If you don’t
      have a public email address, you should get in contact with the
      competition owner instead.
    </p>
    <h3 id="How_is_reputation_calculated">How is reputation calculated</h3>
    <p>
      It is based on the number of articles / competitions written, competitions
      joined etc. However, this is still a beta feature and will be inproved in
      further updates.
    </p>
    <h3 id="what_is_a_badge">what is a badge</h3>
    <p>
      A badge is a way of classifying users based on their activity in the
      community. the currently available badges are:
    </p>
    <ul>
      <li>‘Novice’</li>
      <li>‘Reader’</li>
      <li>‘Pro Reader’</li>
      <li>‘Inquisitor’</li>
      <li>‘Contributor’</li>
      <li>‘Pro Contributor’</li>
      <li>‘Publisher’</li>
      <li>‘Pro Publisher’</li>
      <li>‘Competition Owner’</li>
      <li>‘Advanced Publisher’</li>
      <li>‘Admin’</li>
      <li>‘Banned User’</li>
      <li>‘Moderator’</li>
    </ul>

    <script type="text/javascript">
      var feeds_frame = window.parent.document.getElementById("feeds_frame");
      feeds_frame.style.height =
        (document.documentElement.scrollHeight + 400).toString() + "px";

      function scroll_page(id_element) {
        var offset = document.getElementById(id_element).offsetTop;
        parent.window.scrollTo({ top: offset, behavior: "smooth" });
      }
    </script>
  </body>
</html>
